:root { 
    --black: #2c0006;
    --grey: #989593;
    --white: #faf9f3;
    --red: #b82132;

    --light: 200;
    --regular: 400;
    --bold: 600;

    --border-size: 2px;
    --border: var(--border-size) solid var(--red);
    --bold-border-size: 3px;
    --bold-border: var(--bold-border-size) solid var(--red);

    color: var(--black);
    background-color: var(--white);

    font-size: 20px; 
}

body:has(#menu:hover, nav:hover) {
    nav { left: 0; }
    main { filter: opacity(.3); }
}